{# index.html --- Template for my website's index page -*- Mode: Jinja2; -*- #}
{% extends "layout.html" %}

{% block title %}Fikri R. Nurhidayat{% endblock %}

{% block body %}
<main>
  <h1>Fikri R. Nurhidayat</h1>

  <p>I'm a software engineer who builds websites and business-critical applications. I also love video games.</p>

  <ul class="posts">
    {% for post in posts %}
    <li>
      <time>{{ post.date|strftime("%b %d, %Y") }}</time>
      <a href="{{ url_for("posts", slug=post.slug) }}">
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
