:root {
  --color-light-rgb: 255,255,255;
  --color-dark-rgb: 0,0,0;

  --color-foreground-rgb: var(--color-dark-rgb);
  --color-background-rgb: var(--color-light-rgb);

  --color-foreground: rgb(var(--color-foreground-rgb));
  --color-background: rgb(var(--color-background-rgb));

  --color-foreground-1: rgba(var(--color-foreground-rgb), 0.8);
  --color-background-1: rgba(var(--color-background-rgb), 0.8);

  --color-foreground-2: rgba(var(--color-foreground-rgb), 0.5);
  --color-background-2: rgba(var(--color-background-rgb), 0.5);

  --color-accent-rgb: 255, 211, 61;
  --color-accent: rgb(var(--color-accent-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground-rgb: var(--color-light-rgb);
    --color-background-rgb: var(--color-dark-rgb);
  }
}
