@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;900&display=swap");
@import url("/assets/css/nord.css");

:root {
  --color-foreground: var(--nord0);
  --color-foreground-alt: var(--nord4);
  --color-background: var(--nord5);
  --color-accent: var(--nord10);
  --color-accent-alt: var(--nord15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--nord5);
    --color-foreground-alt: var(--nord1);
    --color-background: var(--nord0);
    --color-accent: var(--nord7);
  }

  img:not([class="non-invertable"]),
  svg:not([class="non-invertable"]) {
    filter: invert(100%);
  }
}

a {
  color: var(--color-accent);
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  color: var(--color-accent-alt);
}

html {
  font-family: Roboto Slab, serif;
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  max-width: 48rem;
  padding: 0 1rem;
  margin: 5rem auto auto auto;
}

code,
pre {
  font-family: Roboto Mono, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

footer {
  margin-top: 5rem;
  padding: 1rem 0;
  border-top: 1pt solid var(--color-foreground-alt);
  text-align: center;
}
