@import url("/assets/css/nord.css");
@import url("/assets/css/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Slab:wght@400;600&display=swap');

:root {
	--color-foreground: var(--nord0);
	--color-foreground-alt: var(--nord3);
	--color-border: var(--nord5);
	--color-background: white;
	--color-accent: var(--nord7);
	--color-accent-alt: var(--nord9);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-foreground: var(--nord6);
		--color-foreground-alt: var(--nord3);
		--color-border: var(--nord1);
		--color-background: var(--nord0);
	}

	img[class~="invertable"],
	svg[class~="invertable"] {
		filter: invert(100%);
	}

	video,
	img {
		opacity: 0.8;
		filter: brightness(90%) contrast(110%) hue-rotate(-10deg) saturate(120%);
		-webkit-filter: brightness(90%) contrast(110%) hue-rotate(-10deg) saturate(120%);
	}
}

a {
	color: var(--color-accent);
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--color-accent-alt);
}

html {
	transition: 0.3s;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	padding: 0;
	line-height: 1.7;
}

body {
	color: var(--color-foreground);
	background-color: var(--color-background);
	max-width: 50rem;
	min-height: 100vh;
	padding: 0 1.5rem;
	margin: 2.5rem auto auto auto;
}

code,
pre {
	padding: .25rem;
	border-radius: .5rem;
	font-family: 'Roboto Mono', monospace;
	background: var(--color-border);
}

pre {
	overflow-x: overlay;
	border-radius: 0.5rem;
}

pre::-webkit-scrollbar {
	display: none;
}

h1, h2, h3 {
	hypens: none;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

ol li {
	margin-bottom: 1rem;
}

hr {
	margin: 1rem auto;
	height: 1pt;
	background-color: var(--color-border);
	border: none;
}

footer {
	margin-top: 5rem;
	vertical-align: bottom;
	padding: 1rem 0;
	border-top: 1pt solid var(--color-border);
	color: var(--color-foreground-alt);
	text-align: center;
}

time {
	font-size: small;
}

li time {
	font-family: 'Roboto Mono', monospace;
	font-size: unset;
	margin-right: 1rem;
	display: flex;
	align-items: center;
}

li:has(time) {
	display: flex;
	align-items: center;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	max-height: 25rem;
	border-radius: .5rem;
	filter: blur(0.016rem) brightness(110%) contrast(90%) hue-rotate(20deg) saturate(120%);
	-webkit-filter: blur(0.016rem) brightness(110%) contrast(90%) hue-rotate(20deg) saturate(120%);
}

figcaption {
	color: var(--color-foreground-alt);
	font-size: small;
	text-align: center;
}
